doctype html
html(ng-app='Grammarbuffet')
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-sanitize.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js')
    script(src='/bower_components/angular-elastic/elastic.js')
    script(src='/javascripts/grammarbuffet.js')
    script(src='/javascripts/escapeHTML.js')
    script(src='/javascripts/growl.js')
    script(src='/javascripts/angularModalService.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/growl.css')
  body
    block content
