
#overlay {
    position: fixed;
    left: 25%;
    top: 25%;
    padding: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    z-index: 100;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}

#custom-modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
#custom-modal.ng-enter.ng-enter-active {
  opacity: 1;
}
#custom-modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
#custom-modal.ng-leave.ng-leave-active {
  opacity: 0;
}

body {
  font-family: Georgia;
  padding-top: 70px;
  background-color: #A8CCFF;
  color: #444;
}

.navbar-header {
  margin-left: 10px;
}

/*.btn-custom {
  margin : 5%;
  height : auto;
  width : auto;
  border-radius: 20px;
  background-color: #87DEAF;
  font-size: 4em;
}*/

.res {
  color: #e6dae1;
  margin: 30px 0px 30px 0px;
  padding: 5px;
  /*font-size: 22px;*/
  list-style-type: none;
  list-style-position: left;
  text-align: left;
  background-color: #104E8B;
  border-radius: 10px;
  overflow: auto;
  width: 100%;
}

#boom {
  display: none;
}

.story {
  color: #e6dae1;
  margin: 0;
  padding: 5px;
  /*font-size: 1.4em;*/
 /* list-style-type: none;
  list-style-position: left;*/
  text-align: justify;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  overflow: auto;
  position: absolute;
}

.smallZ {
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  overflow: auto;
  resize: none;
  /*list-style-type: none;
  list-style-position: left;*/
  text-align: justify;
  z-index: 1;
  background-color: white;
  color: transparent;
  position: absolute;
  /*font-size: 1.4em;*/
  white-space: pre-wrap;
}

textarea {
  resize: none;
  transition: 0.05s;
  -moz-transition: 0.05s;
  -webkit-transition: 0.05s;
  -o-transition: 0.05s;
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  color: black;
  background-color: transparent;
  position: absolute;
  /*font-size: 1.4em;*/
  z-index: 2;
  white-space: pre-wrap;
  text-align:justify;
 }

 .backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid #685972;
  background-color: #fff;
  margin:0;
  border-radius: 0;
}

.container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.bigger {
  font-size: 2em;
 }

 .sides {
  float: left;
  margin: 5px 5px 5px 5px;
  color: #E0FFFF;
 }

 .spacer {
  position: fixed;
  top: 10px;
  z-index: 3;
}

.check {
  font-size: 1.2em;
  border-radius: 10px;
}

.hint {
  font-size: 1.2em;
  border-radius: 10px;
}

.back {
  font-size: 1.2em;
  border-radius: 10px;
}

.json {
  margin: 25px;
}

.prompt {
  color : black;
  background-color: white;
  /*font-size: 1.5em;*/
  margin: 20px;
}

.btn {
  font-size : 4.2vw;
}

h1 {
  font-size : 5vw;
}

h2 {
  font-size : 4.4vw;
}

h3 {
  font-size : 4.1vw;
}

p {
  font-size : 3.8vw;
}

.form-group {
  font-size : 3.8vw;
}

.list-group-item {
  font-size : 3.8vw;
}

/**********************************************************
below is the academic CSS
**********************************************************/

.searching {
  font-size: 4vw;
  margin: 15px;
}

.summary {
  color: #e6dae1;
  margin: 0;
  padding: 5px;
  /*font-size: 1.4em;*/
 /* list-style-type: none;
  list-style-position: left;*/
  text-align: justify;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  overflow: auto;
  position: absolute;
}

.hl {
  background-color: red;
}

/**********************************************************
below is the business CSS
**********************************************************/

.headline {
  /*font-size: 1.2em;*/
  margin: 20px;
}

.article {
  color: #e6dae1;
  margin: 0;
  padding: 5px;
  /*font-size: 1.4em;*/
 /* list-style-type: none;
  list-style-position: left;*/
  text-align: justify;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  overflow: auto;
  position: absolute;
}

.homeScreen {
  margin: 35px;
}

.list {
  margin: 35px;
}