
#overlay {
    position: fixed;
    left: 25%;
    top: 25%;
    padding: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    z-index: 100;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}

/*#custom-modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
#custom-modal.ng-enter.ng-enter-active {
  opacity: 1;
}
#custom-modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
#custom-modal.ng-leave.ng-leave-active {
  opacity: 0;
}*/

body {
  font-family: Georgia;
  padding-top: 70px;
  background-color: #A8CCFF;
  color: #444;
}


@media(min-width:768px) {
  .navbar-header {
    margin-left: 35px;
  }

}

@media(max-width:767px) {
  .navbar-header {
    margin-left: 10px;
  }
}

/*.text {
  color: #e6dae1;
  margin: 0;
  padding: 5px;
  font-size: 1.4em;
  text-align: justify;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  overflow: auto;
  position: absolute;
}*/

.container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

 .hl {
  background-color: red;
}

@media(max-width:767px){

  .btn {
    font-size : 3.5vw;
  }

  h1 {
    font-size : 4vw;
  }

  h2 {
    font-size : 3.7vw;
  }

  h3 {
    font-size : 3.5vw;
  }

  p {
    font-size : 3.3vw;
  }

  .form-group {
    font-size : 3.3vw;
  }

  .list-group-item {
    font-size : 3.3vw;
  }

  .searching {
    font-size: 3.6vw;
    margin: 15px;
  }

  .prompt {
    color : black;
    background-color: white;
    font-size: 3.4vw;
    margin: 10px;
  }

  .smallZ {
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    overflow: auto;
    resize: none;
    /*list-style-type: none;
    list-style-position: left;*/
    text-align: justify;
    z-index: 1;
    background-color: white;
    color: transparent;
    position: absolute;
    font-size: 3vw;
    white-space: pre-wrap;
  }

  .text {
    transition: 0.05s;
    -moz-transition: 0.05s;
    -webkit-transition: 0.05s;
    -o-transition: 0.05s;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    resize: none;
    text-align:justify;
    z-index: 2;
    background-color: transparent;
    color: black;
    position: absolute;
    font-size: 3vw;
    white-space: pre-wrap;
  }
}

@media(min-width:768px){

  .btn {
    font-size : 2vw;
  }

  h1 {
    font-size : 3vw;
  }

  h2 {
    font-size : 2.8vw;
  }

  h3 {
    font-size : 2.5vw;
  }

  p {
    font-size : 2.3vw;
  }

  .form-group {
    font-size : 2.3vw;
  }

  .list-group-item {
    font-size : 2.3vw;
  }

  .searching {
    font-size: 2.3vw;
    margin: 15px;
  }

  .prompt {
    color : black;
    background-color: white;
    font-size: 2.6vw;
    margin: 20px;
  }

  .smallZ {
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    overflow: auto;
    resize: none;
    /*list-style-type: none;
    list-style-position: left;*/
    text-align: justify;
    z-index: 0;
    background-color: white;
    color: transparent;
    position: absolute;
    font-size: 3vw;
    white-space: pre-wrap;
  }

  .text {
    transition: 0.05s;
    -moz-transition: 0.05s;
    -webkit-transition: 0.05s;
    -o-transition: 0.05s;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    overflow: auto;
    resize: none;
    text-align:justify;
    z-index: 10;
    background-color: transparent;
    color: black;
    position: absolute;
    font-size: 3vw;
    white-space: pre-wrap;
  }
}