
body {
  font-family: Georgia;
  background-color: #3C45A2;
  color: #f8f9fa;
}

.container {
  display: block;
  margin: 1.2em;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

p {
  font-family: Georgia;
}

.prompt {
  color : #363746;
  background-color: #f8f9fa;
  border-radius: .25em;
}

.searching {
  color: #363746;
}

h1,h2,h3,p {
  color: #f8f9fa;
}

.btn {
  color: #363746;
}

.link {
  color: #EBBC3F;
}

.radio {
  display: inline;
}

.text {
  z-index: 10;
  background-color: transparent;
  color: #363746;
}

.smallZ {
  z-index: 0;
  background-color: #f8f9fa;
  color: transparent;
}

.text, .smallZ{
  overflow: hidden;
  resize: none;
  text-align:left;
  position: absolute;
  white-space: pre-wrap;
  font-family: Consolas, "Lucida Console", Monaco, monospace;
  width: 99%;
}

.hl {
  background-color: #ebbc3f;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}

@media(max-width:767px){

  .navbar-header {
    margin-left: 1em;
  }

  body {
    padding-top: 2.5em;
  }

  h1 {
    font-size : 1.4rem;
    line-height: 2.1rem;
  }

  h2 {
    font-size : 1rem;
    line-height: 1.5rem;
  }

  h3, .btn {
    font-size : 0.85rem;
    line-height: 1.275rem;
  }
 
  p, .form-group, .list-group-item {
    font-size : 1.15rem;
    line-height: 1.725rem;
  }

  .radio {
    margin: 0 1.2em 0 1.2em;
  }

  .searching {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 1.5em;
  }

  .prompt {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: 0.5em;
  }
  
  .text, .smallZ {
    margin: 0;
    padding: 0 1.5em 0 1.5em;
    border-radius: 1em;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

}

@media(min-width:768px){

  .navbar-header {
    margin-left: 2em;
  }

  body {
    padding-top: 3em;
  }

  h1 {
    font-size : 3rem;
    line-height: 4.5rem;
  }

  h2 {
    font-size : 2.8rem;
    line-height: 4.2rem;
  }

  h3 {
    font-size : 2.5rem;
    line-height: 3.75rem;
  }

  .btn {
    font-size : 2rem;
  }

  .radio {
    margin: 0 2em 0 2em;
  }

  p, .form-group, .list-group-item {
    font-size : 2.3rem;
    line-height: 3.45rem;
  }

  .searching {
    font-size: 2.3rem;
    line-height: 3.45rem;
    margin: 1.5em;
  }

  .prompt {
    font-size: 2.6rem;
    line-height: 3.9rem;
    margin: 0.8em;
  }

  .text, .smallZ {
    margin: 0;
    padding: 0 1.5em 0 1.5em;
    border-radius: 1em;
    font-size: 3rem;
    line-height: 4.5rem;
  }

}