
/*#overlay {
    position: fixed;
    left: 25%;
    top: 25%;
    padding: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    z-index: 100;
}
#fade {
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: black;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    z-index: 90;
}*/

/*#custom-modal.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
#custom-modal.ng-enter.ng-enter-active {
  opacity: 1;
}
#custom-modal.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
#custom-modal.ng-leave.ng-leave-active {
  opacity: 0;
}*/

body {
  font-family: Georgia;
  background-color: #A8CCFF;
  color: #444;
}

.container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

@media(max-width:767px){

  .navbar-header {
    margin-left: 1em;
  }

  body {
    padding-top: 2.5em;
  }

  .btn {
    font-size : 1.2rem;
  }

  h1 {
    font-size : 2.2rem;
  }

  h2 {
    font-size : 2rem;
  }

  h3 {
    font-size : 1.8rem;
  }

  p {
    font-size : 1.4rem;
  }

  .radio {
    display: inline;
    margin: 0 1.2em 0 1.2em;
  }

  .form-group {
    font-size : 1.4rem;
  }

  .list-group-item {
    font-size : 1.4rem;
  }

  .searching {
    font-size: 1.6rem;
    margin: 1.5em;
  }

  .prompt {
    color : black;
    background-color: white;
    font-size: 1.5rem;
    margin: 0.5em;
  }

  .smallZ {
    margin: 0 0.5em 0 0;
    padding: 0 1.5em 0 1.5em;
    border-radius: 1em;
    overflow: hidden;
    resize: none;
    text-align: left;
    z-index: 0;
    background-color: white;
    color: transparent;
    position: absolute;
    font-size: 1.2rem;
    white-space: pre-wrap;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    width: 99%;
  }
  
  .text {
    margin: 0 0.5em 0 0;
    padding: 0 1.5em 0 1.5em;
    border-radius: 1em;
    overflow: hidden;
    resize: none;
    text-align:left;
    z-index: 10;
    background-color: transparent;
    color: black;
    position: absolute;
    font-size: 1.2rem;
    white-space: pre-wrap;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    width: 99%;
  }

   .hl {
  background-color: red;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  }
}

@media(min-width:768px){

  .navbar-header {
    margin-left: 2em;
  }

  body {
    padding-top: 3em;
  }

  .btn {
    font-size : 2rem;
  }

  h1 {
    font-size : 3rem;
  }

  h2 {
    font-size : 2.8rem;
  }

  h3 {
    font-size : 2.5rem;
  }

  p {
    font-size : 2.3rem;
  }

  .radio {
    display: inline;
    margin: 0 2em 0 2em;
  }

  .form-group {
    font-size : 2.3rem;
  }

  .list-group-item {
    font-size : 2.3rem;
  }

  .searching {
    font-size: 2.3rem;
    margin: 1.5em;
  }

  .prompt {
    color : black;
    background-color: white;
    font-size: 2.6rem;
    margin: 0.8em;
  }

  .smallZ {
    margin: 0;
    padding: 0 1.5em 0 1.5em;
    border-radius: 1em;
    overflow: auto;
    resize: none;
    text-align: left;
    z-index: 0;
    background-color: white;
    color: transparent;
    position: absolute;
    font-size: 3rem;
    white-space: pre-wrap;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    width: 99%;
  }

  .text {
    margin: 0;
    padding: 0 1.5em 0 1.5em;
    border-radius: 1em;
    overflow: auto;
    resize: none;
    text-align:left;
    z-index: 10;
    background-color: transparent;
    color: black;
    position: absolute;
    font-size: 3rem;
    white-space: pre-wrap;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    width: 99%;
  }

   .hl {
  background-color: red;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  }
}