<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    
    <div class="navbar-header">  
        
        <button type="button" class="btn btn-default navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>

        <input type="button" class="btn btn-default navbar-btn" value="Business" ng-click="goToBusiness()"></input>
    
        <input type="button" class="btn btn-default navbar-btn" value="Academic" ng-click="goToAcademic()"></input>

        <input type="button" class="btn btn-default navbar-btn" value="Fiction" ng-click="goToFiction()"></input>
    
    </div>

</div>

<div class="container">
<h1>Choose some Business writing to work on</h1>

	<div class="form-group bigger">
        <div class="radio">
            <label>
                <input type="radio" name="easyRegular" value="easy" ng-model="formData.easyRegular">
                Easy
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="easyRegular" value="regular" ng-model="formData.easyRegular">
                Regular
            </label>
        </div>
    </div>

<h2>These are business articles from today, click on one to practice revising articles. In the 'Easy' version you can see where the errors are. In the 'Regular' version, there will be no placeholders to show where the articles have been deleted</h2>

<ul class="list-group">
	<li class="prompt list-group-item" ng-show='placeholder = 1' ng-repeat='article in articles track by $index'>
		<a href="/#/business/{{formData.easyRegular}}{{article.href}}">
			{{article.text}}
		</a>
	</li>
</ul>

<h3>All Business articles are from <a class="link" href="http://www.bbc.com/news/business">www.bbc.com/news/business</a></h3>
</div>