<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	
	<div class="navbar-header">	
		
		<button type="button" class="btn btn-default navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>

		<input type="button" class="btn btn-default navbar-btn" value="Check" ng-click="check()"></input>
	
		<input type="button" class="btn btn-default navbar-btn" value="Hint" ng-click="getHint()"></input>

		<input type="button" class="btn btn-default navbar-btn" value="Back" ng-click="goToTitles()"></input>
	
	</div>

</div>

<div class="container">
	
	<h1>Revise this abstract by putting articles (a/an/the) where the asterisks (***) are, and then click on "Check" to see how you did. "Hint" shows you your progress.</h1>
	
	<form>

		<div class="form-group">
			<textarea msd-elastic class="form-control summary" ng-model="amendedSummary" ng-bind-html="amendedSummary"></textarea>
			<div msd-elastic ng-model="summary_highlights" class="smallZ" ng-bind-html="summary_highlights">
	  			{{summary_highlights}}
	  		</div>
		</div>

	</form>

</div>

<div growl></div>
