<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="navbar-header">  
        
        <button type="button" class="btn btn-default btn-lg navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>

        <input type="button" class="btn btn-default btn-lg navbar-btn" value="Business Writing" ng-click="goToBusiness()"></input>
    
        <input type="button" class="btn btn-default btn-lg navbar-btn" value="Academic Writing" ng-click="goToAcademic()"></input>

        <input type="button" class="btn btn-default btn-lg navbar-btn" value="Fiction Writing" ng-click="goToFiction()"></input>
    </div>
</div>

<div class="container">
<h1>Choose some Fiction writing to work on</h1>

	<div class="form-group bigger">
        <div class="radio">
            <label>
                <input type="radio" name="easyRegular" value="easy" ng-model="formData.easyRegular">
                Easy
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="easyRegular" value="regular" ng-model="formData.easyRegular">
                Regular
            </label>
        </div>
    </div>

<h2>These are current Writing Prompts from Reddit's 'writingprompts' subreddit. In 'Easy' version, you can see where the errors are. In the 'Regular' version, there will be no placeholders to show where the articles have been deleted</h2>

<ul class="list-group">
	<li class="prompt list-group-item" ng-show='placeholder = 1' ng-repeat='prompt in redditTitles track by $index'>
		<a href="/#/fiction/{{formData.easyRegular}}/{{prompt[1]}}">
			{{prompt[0]}}
		</a>
	</li>
</ul>
<h3>All Fiction stories are from <a href="http://www.reddit.com/r/writingprompts">www.reddit.com/r/writingprompts</a></h3>
</div>