
<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="navbar-header">  
        <input type="button" class="btn btn-default navbar-btn" value="Business" ng-click="goToBusiness()"></input>
    
        <input type="button" class="btn btn-default navbar-btn" value="Academic" ng-click="goToAcademic()"></input>

        <input type="button" class="btn btn-default navbar-btn" value="Fiction" ng-click="goToFiction()"></input>
    </div>
</div>

<div class="container">
<h1>Welcome to <span class="link">Grammar Buffet!</span></h1>

  <h2>Use the buttons above to choose a type of writing to work on. The easy mode will show you where the articles (a/an/the) have been removed, and the regular mode will not give you any clues. You'll just have to check around the Singular & Countable Nouns</h2>
</div>