
<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="navbar-header">  
        <input type="button" class="btn btn-default btn-sm navbar-btn" value="Business Writing" ng-click="goToBusiness()"></input>
    
        <input type="button" class="btn btn-default btn-sm navbar-btn" value="Academic Writing" ng-click="goToAcademic()"></input>

        <input type="button" class="btn btn-default btn-sm navbar-btn" value="Fiction Writing" ng-click="goToFiction()"></input>
    </div>
</div>

<div class="container">
<h1>Welcome to Grammar Buffet!</h1>

  <h2>Use the buttons above to choose a type of writing to work on. The easy mode will show you where the articles (a/an/the) have been removed, and the regular mode will not give you any clues. You'll just have to check around the Singular & Countable Nouns</h2>
</div>