
<div class="container spacer">
    <div class="row row-centered">  
        <input type="button" class="btn btn-warning check col-sm-4" value="Business Writing" ng-click="goToBusiness()"></input>
    
        <input type="button" class="btn btn-success hint col-sm-4" value="Academic Writing" ng-click="goToAcademic()"></input>

        <input type="button" class="btn btn-danger back col-sm-4" value="Fiction Writing" ng-click="goToFiction()"></input>
    </div>
</div>

<h1 class='jumbotron prompt'>Click a button to choose which genre you want to practice</h1>

<h3>All Business articles are from <a href="http://www.bbc.com/news/business">www.bbc.com/news/business</a></h3>
<br>
<h3>All Academic abstracts are from <a href="http://arxiv.org">Arxiv.org</a></h3>
<br>
<h3>All Fiction stories are from <a href="http://www.reddit.com/r/writingprompts">www.reddit.com/r/writingprompts</a></h3>