<h1 class="jumbotron">Revise some writing</h1>
<p>Revise this story by adding articles where needed, and then click on "check" to see how you did. "Hint" shows you the singular/countable Nouns, near where the missing articles are likely to be located...</p>

<div growl></div>


<form>

		<div class="form-group">
			<textarea msd-elastic class="form-control story" ng-model="amendedStory" ></textarea>
			<div msd-elastic ng-model="story_highlights" class="smallZ" ng-bind-html="story_highlights">
	  			{{story_highlights}}
	  		</div>
		</div>


		<div class="container spacer">
			<div class="row row-centered">	
				<input type="button" class="btn btn-info check col-sm-4" value="Check" ng-click="check()"></input>
			
				<input type="button" class="btn btn-success hint col-sm-4" value="Get a Hint" ng-click="getHint()"></input>

				<input type="button" class="btn btn-danger back col-sm-4" value="Back to Stories" ng-click="goToStories()"></input>
			</div>

		</div>
</form>