<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	
	<div class="navbar-header">	
	
		<button type="button" class="btn btn-default navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>
        
		<input type="button" class="btn btn-default navbar-btn" value="Check" ng-click="check()"></input>
	
		<input type="button" class="btn btn-default navbar-btn" value="Hint" ng-click="getHint()"></input>

		<input type="button" class="btn btn-default navbar-btn" value="Back" ng-click="goToHeadlines()"></input>
	
	</div>

</div>

<div class="container">
	
	<h1>Revise this article by adding in the missing articles (a/an/the), and then click on "Check" to see how you did. "Hint" shows you the singular/countable Nouns, near where the missing articles are likely to be located...</h1>
	
	<form>

		<div class="form-group">
			<textarea msd-elastic class="form-control article" ng-model="amendedArticle" ></textarea>
			<div msd-elastic ng-model="article_highlights" class="smallZ" ng-bind-html="article_highlights">
	  			{{article_highlights}}
	  		</div>
		</div>

	</form>

</div>

<div growl></div>