<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	
	<div class="navbar-header">	
	
		<button type="button" class="btn btn-default btn-lg navbar-btn" ng-click="goToHome()">
            <span class="glyphicon glyphicon-home"></span>
        </button>
        
		<input type="button" class="btn btn-default btn-lg navbar-btn" value="Check" ng-click="check()"></input>
	
		<input type="button" class="btn btn-default btn-lg navbar-btn" value="Get a Hint" ng-click="getHint()"></input>

		<input type="button" class="btn btn-default btn-lg navbar-btn" value="Back to Titles" ng-click="goToTitles()"></input>
	
	</div>

</div>

<div class="container">

	<h1>Revise this abstract by adding in the missing articles (a/an/the), and then click on "Check" to see how you did. "Get a Hint" shows you the singular/countable Nouns, near where the missing articles are likely to be located...</h1>
	
	<form>

		<div class="form-group">
			<textarea msd-elastic class="form-control summary" ng-model="amendedSummary" ></textarea>
			<div msd-elastic ng-model="summary_highlights" class="smallZ" ng-bind-html="summary_highlights">
	  			{{summary_highlights}}
	  		</div>
		</div>

	</form>

</div>

<div growl></div>